{
  "extends": "airbnb",
  "plugins": ["prettier"],
  "globals": {
    "$": false,
    "config": true,
    "window": true,
    "document": true,
    "localStorage": true,
    "WebSocket": true,
    "Headers": true,
    "fetch": true,
    "it": true,
    "describe": true,
    "beforeEach": true,
    "afterEach": true
  },
  "rules": {
    "quotes": "off",
    "no-mixed-spaces-and-tabs": "off",
    "indent": ["error", 4, { "SwitchCase": 1 }],
    "no-tabs": "off",
    "arrow-body-style": "off",
    "react/forbid-prop-types": "off",
    "react/require-default-props": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-indent-props": ["error", 4],
    "react/jsx-indent": ["error", 4],
    "operator-linebreak": "off",
    "consistent-return": "off",
    "object-shorthand": "off",
    "prettier/prettier": "off",
    "react/jsx-closing-bracket-location": 0,
    "max-len": ["warn", 220],
    "prefer-template": 1
  }
}
