.moteoversikt {
    border-top: 1px solid @ikonGraa;
    padding-top: 1em;
}

.motetabell {
    width: 100%; 
    border-collapse: collapse;

    th, td {
        border-bottom: 1em solid @bakgrunnGraa;
    }

    th {
        color: @hvit;
        background: @navTekst;
        text-align: left;
        padding: 1em;
        .mixin-typo-etikettLiten();
    }

    td {
        padding: 1.5em 1em;
        background: @hvit;
        .mixin-typo-normal();
    }

    td, th {
        width: 20%;

        &:nth-child(1), &:nth-child(4), &:nth-child(5) {
            width: 15%
        }
    }
}

.motestatus {
    display: flex;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    align-items: center;

    img {
        margin-right: .5em;
    }
}

.motestatus--svar_mottatt, 
.motestatus--bekreftet {
    color: @suksessGroenn;
}

.navigasjon {
    margin-bottom: 2.5em;
}

.navigasjonsLenkeListe {
  padding: 0;
}

a {
  &:visited {
    color: @lenkeBlaa;
  }
}
.navigasjon__element {
    display: inline-block;
    padding-top: .25em;
    padding-bottom: .5em;
    padding-right: .5em;
    margin: 0 2em 0 0;
    .mixin-typo-element();
    text-transform: uppercase;
  a {
    //fjern important når frontend-core blir bumpet så man ikke har default-styling på lenker lenger.
      color: black !important;
  }
}

.navigasjon__element__inner {
    align-items: center;
    cursor: pointer;
    &:hover {
        border-bottom: 4px @lenkeBlaa solid;
    }
    border-bottom: none;
}

.navigasjon__element__inner--active {
  //fjern important når frontend-core blir bumpet så man ikke har default-styling på lenker lenger.
    border-bottom: 4px @lenkeBlaa solid !important;
}
