.verktoylinje {
    margin-bottom: 1em;
}

.verktoylinje__filter {
  margin-right: 2em;
}

.verktoylinje__verktoy {
    display: flex;
    flex-direction: row;
    margin: 0 2em 0 0;

    label {
        .mixin-typo-etikettLiten();
        margin: 0 0 1em 0;
    }
    .selectContainer {
        flex-grow: 0;
    }
}