.verktoylinje {
    margin-bottom: 1em;
}

.verktoylinje__verktoy {
    display: flex;
    flex-direction: column;
    margin: 0 2em 0 0;

    label {
        .mixin-typo-etikettLiten();
        margin: 0 0 1em 0;
    }
    .selectContainer {
        width: 20%;
        flex-grow: 0;
    }
}