.motetabell {
  margin-bottom: 2em;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  th,
  td {
    border-bottom: 0.125em solid #efefef;
  }

  th {
    color: @white;
    background: @navMorkGra;
    text-align: left;
    padding: 1em;
    .typo-etikett-liten-mixin();
  }

  td {
    padding: 1em;
    background: @white;
  }
}
