<!DOCTYPE html>
<html lang="no">
<head>
    <title>Møteoversikt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script>
        const script = document.createElement('script');
        script.src = "{{{decoratorRoot}}}/internarbeidsflatedecorator/js/head.min.js?rev=" + Date.now().toString();
        script.onload = () => {
            const DOMContentLoaded_event = document.createEvent("Event");
            DOMContentLoaded_event.initEvent("DOMContentLoaded", true, true);
            window.document.dispatchEvent(DOMContentLoaded_event);
        };
        document.head.appendChild(script);
    </script>

</head>
<body>
    <div id="header"></div>
    <div id="maincontent" class="app-moteoversiktfssfront">
        <div class="app-spinner blokk-xl" aria-label="Vent litt mens siden laster"></div>
    </div>
    <script>
        window.APP_SETTINGS = {
            "REST_ROOT": "{{{restRoot}}}",
            "SYFOREST_ROOT": "{{{syforestRoot}}}",
            "CONTEXTHOLDER_ROOT": "{{{contextholderRoot}}}",
            "APP_ROOT": "/moteoversikt",
            {{#enableLogging}}"ENABLE_LOGGING": {{{enableLogging}}}{{/enableLogging}}
        };
    </script>
    <script src="{{{buildRoot}}}/{{{bundleFileName}}}?rev={{{timestamp}}}"></script>
</body>
</html>